.text-center {
 text-align: center;

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

h2 {
 font-size: 125%;
 background-color: #C0C0C0;
 border: 1px solid #000000;
 padding: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 10px;
 margin-left: 10px;
}

div {
 border: 1px;
 padding: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 10px;
 margin-left: 10px;
}

p {
 width: 90%;
 background-color: #999999;
 font-family: serif 16pt;
 border: 1px solid #000000;
 width: 100%;
 padding: 10px;
 margin-right: auto;
 margin-left: auto;
}
